.main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.center {
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
  width: -webkit-fill-available;
  height: 20vh;
}
.fullView {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
  width: -webkit-fill-available;
  height: 20vh;
}
.button_wrapper{
  padding: 30px;
  position: absolute;
  transition: .5s;
}
.button_negative {
  /* position: absolute; */
  /* transition: .5s; */
  background-color: dodgerblue;
  padding: 10px;
  height: 40px;
  width: 150px;
}
.button_positive {
  position: absolute;
  transition: .5s;
  background-color: dodgerblue;
  padding: 10px;
  height: 40px;
  width: 150px;
}